
<form action='/bookmark/add' method='post'>
  Url:
  <input type='text' name='new_bookmark'> <br>
  Title:
  <input type='text' name='new_title'> <br>
  <input type='submit' value='Add bookmark'> <br>
</form>
